HostKey /opt/ssh/ssh_host_rsa_key
HostKey /opt/ssh/ssh_host_dsa_key
HostKey /opt/ssh/ssh_host_ecdsa_key
HostKey /opt/ssh/ssh_host_ed25519_key

AuthorizedKeysFile /opt/ssh/authorized_keys
PasswordAuthentication no 

PrintMotd no 
PrintLastLog no 

Subsystem       sftp    /usr/lib/ssh/sftp-server
